footer.grid.-withoutMargin.footer
   div.footer__logo
      include ../../img/Icon_logoFooter.svg
   nav.footer__menu
      h3.footer__title Menu
      ul.listUnstyled
         li: a(href="#") Mentions légales
         li: a(href="#") Archives
         li: a(href="#") Contacts &amp; accès
   div.footer__contact
      h3.footer__title Contact
      address.footer__address
         | 1 rue Paul Koepfler
         br
         | 90000 Belfort
         br
         a(href="tel:0384542727") 03 84 54 27 27
         br
         a(href="mailto:conservatoire@agglo-belfort.fr") conservatoire@agglo-belfort.fr
   div.footer__social
      h3.footer__title Nous suivre
      ul.footer__list.listUnstyled
         li
            a(href="https://facebook.com" aria-label="Notre page facebook")
               i.iconFacebook(aria-hidden="true")
         li
            a(href="https://instagram.com" aria-label="Notre page instagram")
               i.iconInstagram(aria-hidden="true")
         li
            a(href="https://twitter.com" aria-label="Notre page twitter")
               i.iconTwitter(aria-hidden="true")
         li
            a(href="https://youtube.com" aria-label="Notre chaine youtube")
               i.iconYoutube(aria-hidden="true")

   div.footer__gb
      include ../../img/logo-grand-belfort.svg
