nav#mainNav.header__menu.menu(aria-label="Menu principal")
  ul.menu__list
    li.menu__item
      a.menu__link(href="conservatoire.html") Le conservatoire
    li.menu__item.-hasDropdown
      a.menu__link(href="/") Enseignements
      ul.submenu__list
        li.submenu__item
          a.menu__link(href="/") Musique
        li.submenu__item
          a.menu__link(href="theatre.html") Théâtre
        li.submenu__item
          a.menu__link(href="danse.html") Danse
    li.menu__item
      a.menu__link(href="agenda.html") Agenda
    li.menu__item
      a.menu__link(href="contact.html") Contact
    li.menu__item.-btn
      a.menu__link(href="inscription.html") S'inscrire